body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.graph{
    border: 0.125rem solid black; 
    margin: 1%;
    height: auto; 
    width: auto;
    border-radius: 0.625rem;
    padding: 0.625rem;
}

.long_graph{
    border: 0.125rem solid black; 
    margin: 1%;
    height: auto; 
    width: 70%;
    border-radius: 0.625rem;
    padding: 0.625rem;
}


.text{
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin: 10px;
    height: auto; 
    width: auto;
    border-radius: 10px;
    padding: 5%;
}


.main-layout {
    display: flex;
    height: 100vh;
}

/*sidebar*/

.sidebar {
    height: 100vh;
    width: 20%;
    background-color: #f8f9fa;
    padding: 20px;    
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-link {
    font-weight: bold;
    padding: 0.6rem 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0.5rem 0;
}

.sidebar-link:hover {
    color: #007bff;
}


.content {
    margin-top: 85px; /* Alineado con la altura de .topbar */
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff;
    height: calc(100vh - 85px); /* Resta la altura de la barra superior */
    width: 80%; /* Asume que la sidebar tiene un ancho del 20% */
    float: right; /* Asegura que el contenido flote a la derecha de la sidebar */
}
    

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.box {
    background: #f1f1f1;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}


/* Barra superior */
.topbar {
    height: 85px;
    display: flex;
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #f8f9fa; /* Color de fondo */
    padding: 10px 20px; /* Espaciado interno */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un diseño elegante */
    font-family: Arial, sans-serif; /* Fuente */
    position: absolute; /* Fija la barra en la parte superior */
    top: 0; /* Sin margen superior */
    width: 75%; /* Ocupa todo el ancho de la ventana */

}

/* Estilo del texto a la izquierda */
.topbar-left {
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Color del texto */
}

/* Estilo del texto a la derecha */
.topbar-right {
    font-size: 20px;
    font-weight: bold;
    color: #555; /* Color del texto */
}

.palette{
    --yale-blue: #0e3372ff;
    --powder-blue: #b6c7e5ff;
    --dark-orange-web: #f68d2bff;
    --hunyadi-yellow: #f3b036ff;
    --peach-yellow: #fbe1b0ff;
    --white: #ffffffff;
}


/* dashborad style*/
.main-page {
    padding: 20px;
    /*background-color: #f5f5f5;*/
    width: 100%;  /* Asegura que la página use todo el ancho disponible */
}

.main-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  /* Centra los elementos y los distribuye uniformemente */
    max-width: 1200px;  /* Ajusta este valor según el ancho deseado de la cuadrícula */
    margin: auto;  /* Centra la cuadrícula horizontalmente */
}

.dashboard-image {
    width: 48%;  /* Cada imagen usa cerca del 50% del ancho del contenedor para ajustar 2 por línea */
    margin-bottom: 20px;  /* Espaciado entre las filas */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);  /* Opcional: Añade sombra para mejor estética */
    border-radius: 10px;  /* Bordes redondeados */
}

.dashboard-image img {
    width: 100%;  /* Asegura que la imagen ocupe todo el ancho del enlace */
    height: auto;  /* Mantiene la proporción de la imagen */
}

.dashboard-image div { /* Estilos para el título debajo de cada imagen */
    text-align: center;
    padding: 10px;
}
